html {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

body {
    background-color: #edf4f5;
    background-image: url("https://www.transparenttextures.com/patterns/textured-paper.png");
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 3em;
    background-color: azure;
}

.header h1 {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1.5px;
}

.header p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: .5em;
}

.date {
    font-size: 1.75rem;
    font-weight: 800;
    padding: 1em;
}

hr {
    margin: 0;
    border: rgb(173, 173, 173) 5px solid;
}



.section {
    padding: 0 7em;
    font-size: 1.5rem;
    /* -webkit-box-shadow: 12px 29px 33px -4px rgba(0,0,0,0.25);  */
    /* box-shadow: 12px 29px 33px -4px rgba(0,0,0,0.25); */
    
}

.planner {
    display: flex;
    padding-top: .5em;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: -9999;
}

.plannerItems {
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    flex-grow: 1;
    background-color: lavender;
    min-width: 20%;

}

.activity {
    flex-grow: 9;
    /* background-color: floralwhite; */
    /* background: transparent; */
}

.action {
    flex-grow: 1;
    background-color: honeydew;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

textarea {
    border: none;
    color: lightgrey;
}

input {
    color: lightgrey;
}

.save-button {
    padding: .75rem 1.5rem;
    border-radius: 15px;
    background-color: rgb(77, 154, 248);
    color: #fff;
}
.save-button:hover {
    background-color: lightskyblue;
}

.delete-button {
    padding: .75rem 1.5rem;
    border-radius: 15px;
    background-color: rgb(255, 148, 148);
    color: #fff;
}
.delete-button:hover {
    background-color: rgb(251, 106, 106);
}

.past {
    background-color: rgb(235, 229, 229);
    color: black;
    cursor: pointer;
}

.present {
    background-color: rgb(245, 201, 131);
    color: white;
    cursor: pointer;
}

.future {
    background-color: rgb(121, 200, 138);
    color: white;
    cursor: text;
    cursor: pointer;
}

.footer {
    display: flex;
    padding: 2em;
    background-color: #fff;
    opacity: .4;
    margin-top: 2em;
    align-items: center;
    justify-content: center;
}